<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TTN User Group Brandenburg a. d. Havel – UI Prototyp</title>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha256-T/zFmO5s/0aSwc6ics2KLxlfbewyRz6UNw1s3Ppf5gE=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha256-7dA7lq5P94hkBsWdff7qobYkp9ope/L5LQy2t/ljPLo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" integrity="sha256-BPfK9M5v34c2XP6p0cxVz1mUQLst0gTLk0mlc7kuodA=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js" integrity="sha256-yDc0eil8GjWFKqN1OSzHSVCiuGghTosZCcRje4tj7iQ=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.0/build/vega.min.js" integrity="sha256-9lnHJ14X+HaXfaJFBx5zIfnsqeZKJmBJV3M7W7DU8sQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.0.0/build/vega-lite.min.js" integrity="sha256-tJA45o3QEAtIUn1qem3mlEH6Gu8SfCw5sDDxIfj4n/o=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0/build/vega-embed.min.js" integrity="sha256-M7BJ5hIB1qIxXvE8c6a5sVTRarmSYq+1MnbblMcZEmQ=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="app.css">
    <script src="app.js"></script>
</head>
<body>
    <header>
        <h1>UI Prototyp</h1>
        <h2>TTN User&nbsp;Group Brandenburg&nbsp;a.&nbsp;d.&nbsp;Havel</h2>
    </header>
    <nav id="menu">
        <div class="menu-section left">
            <a href="#">Menüpunkt</a>
        </div>
        <div class="menu-section right">
            <select id="map-style">
                <option value="" selected>OSM Standard</option>
                <option value="osm-bright">OSM Bright</option>
                <option value="map-tiler-basic">Map Tiler</option>
                <option value="positron">Positron</option>
                <option value="dark-matter">Dark Matter</option>
            </select>
        </div>
    </nav>
    <section id="page">
        <div id="sidebar">
            <div id="intro-info" class="side-block">
                <h3>Quick-Start</h3>
                <p class="quick-start">
                    Klicke auf einen Sensor auf der Karte, um eine kurze Beschreibung und den Verlauf der gemessenen Werte einzublenden.
                </p>
            </div>
            <div id="sensor-details" class="side-block" style="display: none">
                <h3>Sensor</h3>
                <h4 class="sensor-name"></h4>
                <p class="sensor-description"></p>
                <div class="sensor-primary">
                    <div class="measurement">
                        <span class="measurement-label">Position</span>
                        <span class="measurement-value sensor-location"></span>
                    </div>
                </div>
                <h5>Wochenverlauf</h5>
                <div class="sensor-plot"></div>
                <h5>Aktuelle Werte</h5>
                <div class="sensor-series"></div>
            </div>
        </div>
        <div id="map"></div>
    </section>
    <footer>
        <a href="#">User Group</a>
        | <a href="#">Quelltext</a>
        | <a href="#">Impressum</a>
    </footer>
</body>
</html>