<%- include('parts/header', { bootScript: `initializeSensorView("${sensor.id}")` }) %>
<nav id="menu">
    <div class="menu-section left">
        <a href="/">Zur체ck zur Karte</a>
        <a href="/sensors">Sensorliste</a>
    </div>
    <div class="menu-section right">
        <select id="map-style">
            <option value="" selected>OSM Standard</option>
            <option value="osm-bright">OSM Bright</option>
            <option value="map-tiler-basic">Map Tiler</option>
            <option value="positron">Positron</option>
            <option value="dark-matter">Dark Matter</option>
        </select>
    </div>
</nav>
<section id="page">
    <div id="sidebar">

        <div id="sensor-info">
            <div class="side-block">
                <h3>Sensor</h3>
                <h4><%= sensor.name %></h4>
                <p class="sensor-description"><%= sensor.description %></p>
                <h5>Letzte Aktivit채t</h5>
                <div class="sensor-last-activity">&nbsp;</div>
                <h5>Aktuelle Werte</h5>
                <div class="sensor-series"></div>
            </div>
        </div>

        <div id="sensor-position" class="side-block">
            <h3>Position</h3>
            <div id="map" class="mini-map"></div>
            <div class="sensor-location text-center"></div>
        </div>
    </div>
    <div id="sensor-details" class="main-area">
        <div class="container">
            <h2>Werteverlauf</h2>
            <p>TODO: Formular f체r Datenauswahl</p>
            <h2>Datendownload</h2>
            <p>TODO: Formular f체r Zeitbereich und Fensterung</p>
        </div>
    </div>
</section>
<%- include('parts/footer') %>